.topic {
    background: rgba(0, 0, 0, 0.1);
    margin: 10px;
    border-radius: 12px;
    padding: 10px;
}

.topic img {
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}